* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

header {
    background: #ff6f61;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.status-button{
    display:flex;
    justify-content: space-around;
}

.status-button button{
    width:45%;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.status-button button:hover{
    opacity: 0.8;
}

#present-button{
    background-color: green;
}

#absent-button{
    background-color: red;
}

.student-info-left {
    flex: 1;
    margin: 1rem;
}

.attendance-right{
    flex: 1.5;
    margin: 1rem;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
}

.attendance-table th, .attendance-table td {
    border: 1px solid #000;
    padding: 0.5rem;
    text-align: left;
}

.attendance-table th {
    background-color: #ddd;
}

.attendance-table .status.present {
    background-color: green;
    color: #fff;
}

.attendance-table .status.absent {
    background-color: red;
    color: #fff;
}

.student-info {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.student-info p{
    padding: 5px;
}

.student-info img {
    width: 250px;
    margin-bottom: 1rem;
}

.attendance-percentage {
    margin-top: 1rem;
}

.percentage-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    margin: 0 auto;
}

.percentage-circle.green {
    border-color: green;
    color: green;
}

.percentage-circle.red {
    border-color: red;
    color: red;
}

footer {
    background: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top:  105px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .attendance-right, .student-info-left {
        margin-top: 10px;
        flex: none;
    }
}
