* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

header {
    background: #ff6f61;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

header nav ul li a:hover {
    background: #ff8364;
    border-radius: 5px;
}

section {
    padding: 2rem 0;
    flex-grow: 1;
}

#home {
    display: flex;
    flex-direction: row;
    text-align: center;
    animation: fadeIn 2s;
    flex-wrap: wrap;
    justify-content:space-around;
    height: 100%;
}

#home h2 {
    margin-bottom: 1rem;
}

#home p {
    margin-bottom: 2rem;
}

.login{
    margin-top:auto 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.login .btn {
    margin: 0 auto;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 180px;
}

.login .student-btn {
    background: #4caf50;
}

.login .teacher-btn {
    background: #2196f3;
}

.login .ins-btn {
    background: #ff9800;
}

.login .btn:hover {
    opacity: 0.8;
}

footer {
    background: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


.animated-text {
    font-size: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    position: relative;
    text-align: center;
    line-height: 1.5;
}

.word {
    display: block;
    position: relative;
    overflow: hidden;
}
.word::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: inset(0 100% 0 0);
    animation: revealText 3s ease-in-out infinite;
}

.word:nth-child(1)::before {
    color: #ff9800;
}
.word:nth-child(2)::before {
    color: aliceblue;
}
.word:nth-child(3)::before {
    color: green;
}
@keyframes revealText {
    0%, 100% {
        clip-path: inset(0 100% 0 0);
    }
    50% {
        clip-path: inset(0 0 0 0);
        filter: drop-shadow(0 0 5px blue);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .animated-text{
        font-size: 5rem;
    }
}
