body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff6f61;
    /* background: linear-gradient(to right, #ffecd2, #fcb69f); */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

main {
    padding: 20px;
}
#materialFile{
    background-color: #fff;
}
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
#button{
    text-align: center;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    margin-top: 23rem;
    margin-bottom: 0px;
}
input{
    width: 30%;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#materialFile{
    text-align: center;
}