* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

.head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ff6f61;
    color: #fff;
    padding: 1rem 2rem;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    margin-left: 1rem;
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

header nav ul li a:hover {
    background: #ff8364;
    border-radius: 5px;
}

.unverified{
    margin: 0 auto;
    margin-top: 13%;
    margin-bottom: 13%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 35%;
    background-color: #fff;
}

.bound{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.profile-info {
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-pic {
    border-radius: 10%;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}

.menu-box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}

.menu{
    display: flex;
    width: 96%;
    height:100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

.modal{
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
}

#select-subject-form select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer {
    background: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .head{
        justify-content: center;
    }
    .unverified{
        width: 58%;
        margin-top: 25%;
        margin-bottom: 25%;
    }
    .bound{
        width: 96%;
    }
    header h1 {
        margin-bottom: 1rem;
    }

    .profile-info {
        padding: 1rem;
        text-wrap: wrap;
        width: 100%;
    }

    .profile-pic {
        width: 110px;
        height: 110px;
    }

    .menu-box{
        width: 100%;
    }

    .modal-content {
        width: 50%;
    }
}
