* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

header {
    background: #ff6f61;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

header nav ul li a:hover {
    background: #ff8364;
    border-radius: 5px;
}

section {
    padding: 2rem 0;
    flex-grow: 1;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.signup-form {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 1rem;
    width: 570px;
    display: blocks;
    animation: slideIn 1s;
}

.signup-form h2 {
    margin-bottom: 1rem;
}

.input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1 px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.otp {
    width: 100%;
    margin-bottom: 20px;
}

.otp input{
    display: block;
    width: 73%;
    padding: 0.5rem;
    border: 1 px solid;
    border-radius: 5px;
    margin-right: 2%;
    float: left;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.popup.show {
    opacity: 1;
    visibility: visible;
}

.signup-form button {
    width: 100%;
    margin-top: 20px;
    padding: 0.5rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.signup-form button:hover {
    background: #575757;
}

footer {
    background: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@keyframes slideIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
