* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    justify-content: space-between;
}

.head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ff6f61;
    color: #fff;
    padding: 1rem 2rem;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    margin-left: 1rem;
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

header nav ul li a:hover {
    background: #ff8364;
    border-radius: 5px;
}

section {
    padding: 2rem 0;
    flex-grow: 1;
}

.bound{
    display: flex;
    flex-direction: row;

}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: nowrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

.menu-box{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.menu{
    width: 230px;
    height:150px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

footer {
    background: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .head{
        justify-content: center;
    }
    .bound{
        flex-direction: column;
    }
    header h1 {
        margin-bottom: 1rem;
    }

    .profile-info {
        width: 100%;
        padding: 1rem;
        text-wrap: wrap;
    }

    .profile-pic {
        width: 110px;
        height: 110px;
    }
}
